.player-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.heading {
    background-color: #45aeda;
    height: 2em;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding-top: 1em;
}

.sides {
    display: flex;
    column-gap: 1em;
    align-items: flex-start;
    padding: 1em 2em;
    background-color: #cceaff;
    /* width: 100%; */
}


.left, .right {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.info {
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5%;
}

.info p {
    margin: 0px;
}

.left img {
    height: 250px;
    width: auto;
    border-radius: 5%;
    margin: 1em;
}


.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.awards, .more-info {
    background-color: white;
    margin-bottom: 1em;
    width: 100%;
}


.wrap {
    text-wrap: wrap;
}