{% extends "template.html" %}

{% block content %}
    <div class="content center">
        <h1>NBA Data Visualization!</h1>
        <p class="intro">
            Enter a player to receive various graphs/plots depicting their statistics,
            evaluating their skillset and other visualisations to captivize your mind!
            <br />            
        </p>
        <form action="{{ url_for('visualize') }}" method="post">
            <input type="text" placeholder="Enter player" name="player" required />
            <button type="submit">Search</button>
        </form>

        {% if player_info %}
        <div class="player-container boxify">
            <div class="heading">{{ player_info["player_name"] }}</div>
            <div class="sides">
                <div class="compare-box">
                    <div class="frame">
                        <img class='boxify' src="{{ player_info['img_link'] }}" alt="NBA Player" />
                        <div class="info">
                            <b>{{ player_info["player_name"] }}</b>
                            <p><b>POS: </b>{{ player_info["position"] | join(', ') }}</p>
                            <p class="max-width">
                                <b>Primary Teams: <br /></b>{{ player_info["teams"] | join(', ') }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="closest-box">
                    <div class="info">
                        <p class="list-title">Ordered List of Closest Players</p>
                        <br>
                        <div class="player-list">

                        {% for player in closest_players %}
                            {% if loop.index < 11 %}
                            <div class="player-item top-ten">{{ loop.index }}. {{ player }}</div>
                            {% else %}
                            <div class="player-item">{{ loop.index }}. {{ player }}</div>
                            {% endif %}
                        {% endfor %}
                    </div></div>
            </div></div>
        </div>


        <div class="stats-head">
            <h2>KMeans Cluster: {{cluster}}</h2>
            <p id="infoText" class="info-text">KMeans Clustering Categories*</p>
        </div>

        <div id="infoModal" class="modal boxify">
            <div class="modal-content boxify">
                <h2 class="modal-header">KMeans Algortihm Categories</h2>
                <p>The clustering algorithm below aims to group players based on their similar statistics
                    and careers. Although the algorithm is not perfect, the general categories are as follows:
                    
                    <span class="cat-list">0: Ball Handler/Scorer, 1: Role Player, 2: Barely Played, 3: Big Man</span>

                    Sometimes the numbers correspond to different categories, but the actual category names remain the same.
                    Hover over the points below to accurately understand the grouping.
                </p>
                <span class="close-btn">&times;</span>
            </div>
        </div>

        <div class="scatterplot">
            <iframe class='boxify' src="{{ url_for('static', filename='img/scatterplot.html') }}" width="100%" height="500px"></iframe>
        </div>

        {% else %}
        <p>One or both players not found, please try again.</p>
        {% endif %}
    </div>
    <img src="../static/img/pairplot.png" class='pair' alt="Image description">
{% endblock %}
