@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.player-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    width: 80%;
    max-width: 900px;
}

.heading {
    background-color: #45aeda;
    height: em;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 0.5em;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

.sides {
    display: flex;
    column-gap: 1em;
    align-items: flex-start;
    padding: 1em 1em;
    background-color: #cceaff;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100%; */
}


.left, .right {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.info {
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5%;
}

.info p {
    margin: 0px;
}

.left img {
    height: 250px;
    width: auto;
    border-radius: 5%;
    margin: 1em;
}

/* RIGHT SIDE */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.awards, .more-info {
    background-color: #f3f3f3;
    margin-bottom: 1em;
    padding: 20px;
    width: 80%;
}

.awards {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.award {
    background-color: #45aeda;
    color: white;
    padding: 0px 8px;
    margin: 1px 1px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.award:hover {
    transform: scale(1.05);
    /* Slightly increase size on hover */
}

.test-btn{
    background-color: #133f79;
    color: white;
    margin: 2px 2px;
    border-radius: 8px;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    flex: 1;
    font-size: 14px;
    padding: 1em;
}

.test-btn:hover {
    transform: scale(1.05);
    /* Slightly increase size on hover */
}